# requirements.txt

# --- Frontend ---
streamlit
pydeck 

# --- Data Processing ---
pandas
xarray
netcdf4
dask
pyarrow
toml

# --- Database & Geospatial ---
sqlalchemy
psycopg2-binary
geopandas
geoalchemy2

# --- AI & Language Model ---
langchain
langchain-core
langchain-groq
sentence-transformers
faiss-cpu
tiktoken

# --- Visualization ---
plotly